.prod {
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.content {
  margin: 10px 5px;
  border: black 1px solid;
  border-radius: 12px;
  padding: 10px 10px 30px;
  height: 275px;
  background-color: rgb(229, 210, 131);
}

.content p {
  font-size: 12px;
}

.content h3 {
  cursor: pointer;
  text-align: center;
}

.product-image {
  margin: 20px 0;
}

.product-image img {
  width: 80%;
}

.add-to-cart {
  width: 100%;
}

.info p {
  text-align: end;
}

button {
  padding: 5px 10px;
  color: white;
  background-color:  rgb(33, 53, 85);
  border-radius: 10px;
}
