<div class="prod">



  <div *ngFor="let product of products">

    <div class="content" >

      <h3>
        {{ product.name }}
      </h3>

      <div class="inner">

        <p *ngIf="product.description" class="description">
          Description: {{ product.description }}
        </p>

        <div class="product-image">
          <img class="image" [src]="product.imageUrl" height="150px">
        </div>

      </div>

      <div class="info">

        <div class="price">
          <p> price: {{product.price}}</p>
        </div>

        <div class="add-to-cart">

          <button type="button" (click)="addToCart(product.id)">Add to cart</button>

        </div>

      </div>

    </div>

  </div>

</div>
