* {
  width: 100%;
}

.delimiter {
  height: 2px;
  background-color: rgb(229, 210, 131);
  margin: 20px 0;
}

.side-menu {
  width: 350px;
  background-color:  rgb(33, 53, 85);
  margin: 25px 15px;
  height: 400px;
  border: rgb(229, 210, 131) 3px solid;
  border-radius: 12px;
  padding: 10px 5px 30px;
  text-align: center;
  padding: 32px 20px;
}

.side-menu h3 {
  color: rgb(229, 210, 131);
}

.cart-content {
  display: flex;
  justify-content: space-between;
}

div, p {
  color: white;
}

.price-and-total {
  align-content: end;
}

.price-and-total p {
  text-align: end;
  margin-bottom: 8px;
}

.add-or-remove {
  display: flex;
  justify-content: right;
  vertical-align: center;
}

.product-name-cart {
  flex: 3;
}

.product-image-cart {
  width: 150px;
  margin-right: 15px;
}

.cart-button {
  /*width: 30px;*/
  weight: 1f;
  font-weight: bold;
  /*height: 30px;*/
}

button {
  width: 20px;
  padding: 5px;
  height: 30px;
  margin: 0 4px;
  background-color: rgb(229, 210, 131);
  text-align: center;
}

.product-counter {
  width: 20px;
  background-color: white;
  /*padding: 0 10px;*/
  color: rgb(33, 53, 85);
}


