<div class="side-menu">
  <h3> Cart </h3>

  <div class="delimiter"></div>

  <div class="added-products" *ngFor="let cartProduct of products">
    <div class="cart-content">

      <div class="product-image-cart">
        <img [src]="cartProduct.imageUrl">
      </div>

      <div class="product-name-cart">
        {{cartProduct.name}}
      </div>

      <div class="price-and-total">
        <p>price: {{cartProduct.price}}</p>

        <div class="add-or-remove">

<!--          <div class="cart-button">-->
            <button (click)="removeFromCart(cartProduct.id)">-</button>
<!--          </div>-->

          <div class="product-counter">
            1
          </div>

<!--          <div class="cart-button">-->
            <button>+</button>
<!--          </div>-->

        </div>


      </div>


    </div>
  </div>
  sum: {{getSum()}}
</div>
